= render_tabs [{ name: 'general', partial: 'settings/postgresql_search/general', label: :label_general },
               { name: 'ranking', partial: 'settings/postgresql_search/ranking', label: :label_postgresql_search_ranking },
               { name: 'info', partial: 'settings/postgresql_search/info', label: :label_information_plural }]
- html_title(l(:label_settings), l(:label_postgresql_search))
